# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Django files

# Python
backend/ravi/*.pyc
backend/ravi/*.pyo
backend/ravi/*.pyd
backend/ravi/__pycache__/
backend/ravi/*.py[cod]
backend/ravi/*.pyo
backend/ravi/*.pyd

# Django
backend/ravi/*.log
backend/ravi/*.sqlite3
backend/ravi/db.sqlite3
backend/ravi/media/
backend/ravi/staticfiles/
backend/ravi/*.pyc
backend/ravi/*.pyo
backend/ravi/*.pyd

# Environment
backend/ravi/.env

# IDEs
backend/ravi/.idea/
backend/ravi/*.vscode/

# OS-specific
backend/ravi/.DS_Store
backend/ravi/Thumbs.db

# Other
backend/ravi/*.coverage
backend/ravi/*.coverage.*
backend/ravi/*.egg
backend/ravi/*.egg-info
dist/
backend/ravi/build/
backend/ravi/*.mo
backend/ravi/*.pot
backend/ravi/*.swp
